# Coursework 1 2021/22 - Solutions

## Part 1: Short answer questions (12 marks)

1.  **Finite precision number systems** Consider system given by $(\beta, t, L, U) = (10, 4, -1, 3)$.

    a.  What is the machine precision, $eps$, of this system? **\[ 1 mark \]**

       -   $0.05$
       -   $0.005$
       -   $0.0005$ ($\checkmark$)
       -   $0.00005$
       
       $eps$ is given by the formula $\frac{1}{2} \beta^{1-t}$ so
       
       $$
       eps = \frac{1}{2} 10^{1-4} = \frac{1}{2} 0.001 = 0.0005.
       $$

    b.  Which of the following is the closest representation of $1/3$ in this system written in normalised floating point representation? **\[ 1 mark \]**

       -   $0.333 \times 10^{0}$
       -   $0.3333 \times 10^{0}$ ($\checkmark$)
       -   $3.333 \times 10^{-1}$
       -   $3.3333 \times 10^{-1}$
       
       The third and fourth answers are not normalised floating point representations. The first two are possible normalised floating point representations. The second answer is the closest.

    c.  Let $x=800$. For which of the following is $fl(x + y) = fl(x)$. Select all that apply. **\[ 3 marks \]**

       -   $y = 0.4000 \times 10^{-1}$ ($\checkmark$)

            We have $$\begin{aligned}
            x + y & = 0.8 \times 10^3 + 0.4 \times 10^{-1}
            = 800 + 0.04 = 800.04 \\
            & \rightarrow
            fl(x+y) = 0.8 \times 10^3 = fl(x)
            \end{aligned}
            $$

       -   $y = 0.4000 \times 10^{0}$
       
            We have $$ \begin{aligned}
            x + y &= 0.8 \times 10^3 + 0.4 \times 10^0
            = 800 + 0.4 = 800.4 \\
            & \rightarrow
            fl(x+y) = 0.8004 \times 10^3 > fl(x)
            \end{aligned}
            $$
            
       -   $y = 0.4000 \times 10^{1}$
       
             We have $$ \begin{aligned}
             x + y &= 0.8 \times 10^3 + 0.4 \times 10^1
             = 800 + 4 = 804 \\
             & \rightarrow
             fl(x+y) = 0.8040 \times 10^3 > fl(x).
             \end{aligned}
             $$

2.  **Matrices and vectors** Let

    $$
    A = \begin{pmatrix} 2 & 4 \\ 4 & 5 \end{pmatrix},
    B = \begin{pmatrix} 0 & 2 \\ 1 & 3 \\ 9 & 8 \end{pmatrix},
    C = \begin{pmatrix} 3 \\ -1 \end{pmatrix},
    D = \begin{pmatrix} 1 & 2 \end{pmatrix}.
    $$

    Evaluate these expressions (if possible) **\[ 1 mark each \]**

    a.  $B A$;

       -   $\begin{pmatrix} 8 & 14 & 50 \\ 10 & 19 & 76 \end{pmatrix}$
       -   $\begin{pmatrix} 8 & 10 \\ 14 & 19 \\ 50 & 76 \end{pmatrix}$ ($\checkmark$)
       -   $\begin{pmatrix} 0 & 8 \\ 4 & 15 \\ 9 & 8 \end{pmatrix}$
       -   not possible
       
       $$
        B A =
        \begin{pmatrix} 0 & 2 \\ 1 & 3 \\ 9 & 8 \end{pmatrix}
        \begin{pmatrix} 2 & 4 \\ 4 & 5 \end{pmatrix}
         =
        \begin{pmatrix}
        0 \times 2 + 2 \times 4 &
        0 \times 4 + 2 \times 5 \\
        1 \times 2 + 3 \times 4 &
        1 \times 4 + 3 \times 5 \\
        9 \times 2 + 8 \times 4 &
        9 \times 4 + 8 \times 5
        \end{pmatrix}
        =
        \begin{pmatrix}
        8 & 10 \\
        14 & 19 \\
        50 & 76
        \end{pmatrix}
        $$

    b.  $A^T A + C D$;

       -   $\begin{pmatrix} 4 & 16 \\ 16 & 25 \end{pmatrix}$
       -   $\begin{pmatrix} 23 & 27 \\ 34 & 39 \end{pmatrix}$
       -   $\begin{pmatrix} 23 & 34 \\ 27 & 39 \end{pmatrix}$ ($\checkmark$)
       -   not possible
       
       $$
        A^T A
        =
        \begin{pmatrix} 2 & 4 \\ 4 & 5 \end{pmatrix}
        \begin{pmatrix} 2 & 4 \\ 4 & 5 \end{pmatrix}
        =
        \begin{pmatrix}
        2 \times 2 + 4 \times 4 &
        2 \times 4 + 4 \times 5 \\
        4 \times 2 + 5 \times 4 &
        4 \times 4 + 5 \times 5
        \end{pmatrix}
        =
        \begin{pmatrix}
        20 & 28 \\
        28 & 41
        \end{pmatrix}
       $$

       $$
        C D
        =
        \begin{pmatrix} 3 \\ -1 \end{pmatrix}
        \begin{pmatrix} 1 & 2 \end{pmatrix}
        =
        \begin{pmatrix}
        3 \times 1 & 3 \times 2 \\
        -1 \times 1 & -1 \times 2
        \end{pmatrix}
        =
        \begin{pmatrix}
        3 & 6 \\
        -1 & -2
        \end{pmatrix}
       $$

       $$
        A^T A + CD
        =
        \begin{pmatrix}
        20 & 28 \\
        28 & 41
        \end{pmatrix}
        +
        \begin{pmatrix}
        3 & 6 \\
        -1 & -2
        \end{pmatrix}
        =
        \begin{pmatrix}
        23 & 34 \\
        27 & 39
        \end{pmatrix}
       $$

    c.  $B B^T + (C D)^T$.

       -   $\begin{pmatrix} 7 & 5 & 16 \\ 12 & 8 & 33 \\ 16 & 33 & 145 \end{pmatrix}$
       -   $\begin{pmatrix} 4 & 6 & 16 \\ 6 & 10 & 33 \\ 16 & 33 & 145 \end{pmatrix}$
       -   $\begin{pmatrix} 7 & 12 & 16 \\ 5 & 8 & 33 \\ 16 & 33 & 145 \end{pmatrix}$
       -   not possible ($\checkmark$)
       
       This is not possible. $B B^T$ is a $3 \times 3$ matrix whereas $(C D)^T$ is a $2 \times 2$ matrix so we cannot perform the sum.

3.  **Matrices and vectors** Consider the four matrices

    $$
    A = \begin{pmatrix} 1 & 3 \\ 0 & 2 \\ 1 & -3 \\ -2 & 8 \end{pmatrix},
    B = \begin{pmatrix} 0 & 1 & 1 \\ 1 & 0 & -1 \end{pmatrix},
    C = \begin{pmatrix} 2 \\ -1 \\ -3 \end{pmatrix},
    D = \begin{pmatrix} 9 & 11 & 17 & 13 \end{pmatrix}.
    $$

	Of the sixteen possible products only four give a well defined matrix product. State which four. **\[ 4 marks \]**
    
    We note that $A$ is $4 \times 2$, $B$ is $2 \times 3$, $C$ is $3 \times 1$ and $D$ is $1 \times 4$. So the possibilities are:

    $AB$, $BC$, $CD$, $DA$

## Part 2: Free answer questions (8 marks)

Please upload a single file containing the answers to all parts of question 4. Code and tables should be included in-line. You should clearly label each part of your answer.

4.  Archimedes approximated $\pi$ by determining lengths of the perimeters of polygons inscribing and circumscribing a circle of diameter 1. Starting with the hexagon and successively doubling the number of sides, we have the recurrence formula for the side length in the circumscribed polygon, at step $n+1$,

     $$
        \begin{aligned}
        p_{n+1} & = \frac{ \sqrt{p_n^2+1} - 1 }{ p_n } && \mbox{ for } n=0,1,2,\ldots
		&& (1) \\
     p_0 & = \frac{1}{\sqrt{3}}.
     \end{aligned}
    $$

	Thus $\pi$ can be found as a limit, noticing that the number of sides is $6 \cdot 2^n$,

	$$
      \pi = \lim_{n \to \infty} 6 \cdot 2^n \cdot p_n = 3.141592653589793\ldots
    $$

    We can use this iteration to write code to compute $\pi$ using:

In [1]:
import numpy as np


def side_length(n):
    """
    Compute the length of one side of a polygon with 6*2**n sides.

    ARGUMENTS:  n  positive integer to calculate number of sides.

    RETURNS:    float
    """
    assert n >= 0

    if n == 0:
        return 1.0 / np.sqrt(3.0)

    p = side_length(n - 1)
    return (np.sqrt(p * p + 1.0) - 1.0) / p


def pi_approx(n):
    """
    Compute an approximation to pi using polygonal approxmations of
    a circle.

    ARGUMENTS:  n postive integer

    RETURNS:    float approximation of pi
    """
    return 6.0 * 2**n * side_length(n)

a.  Produce a table of values of `n`, `pi_approx(n)` and the error between $\pi$ and its approximation for `n` between 0 and 50 inclusive (any format is fine). What is the maximum number of correct digits you found? **\[1 mark\]**

In [2]:
import pandas as pd

table_headers = ["n", "pi_approx(n)", "error"]
table_data = []

for n in range(0, 51):
    my_pi = pi_approx(n)
    error = abs(my_pi - np.pi)

    table_data.append([n, my_pi, error])

df = pd.DataFrame(table_data, columns=table_headers)
df.style.format({"n": "{:d}", "pi_approx(n)": "{:.16f}", "error": "{:.10e}"}).hide(
    axis="index"
)

/tmp/ipykernel_2031938/429248883.py:18: RuntimeWarning: invalid value encountered in double_scalars
  return (np.sqrt(p * p + 1.0) - 1.0) / p

The maximum number of correct digits is 8.

b.  Iterating further after the best approximation, what would you see? Why? **\[ 2 marks \]**

After the best approximation the floating point rounding errors start to build up causing oscillations and untrusted solutions. Eventually, at $n=26$, $p_{26}$ becomes too small relative to 1 so that $\sqrt{p_n^2+1}$ is calculated as $1$ so the next iterate $p_{27} = 0$. At the next iterate we divide by zero and get `nan`. \[1 mark for any reasonable description of the behaviour\]

This happens because $p_n$ is becoming smaller as $n$ becomes larger. This means that $\sqrt{p_n^2+1} \approx 1$ and we loose precision finding the difference between two similar numbers. \[1 mark for saying the subtraction of two similar numbers is bad\]

c.  Find iteration steps at which the formula eq. (1) cannot be trusted. **\[1 marks \]**

I would not trust the behaviour for $n \ge 14$. \[1 Mark for any number between 12 and 18\]

d.  Rewrite eq. (1), in order to improve the accuracy. Implement this new formula in python. Produce a table of values of `n`, `pi_approx(n)` and the error between $\pi$ and its approximation for `n` between 0 and 50 inclusive (any format is fine). Please submit your code and the error table. **\[ 2 marks \]**

We can rewrite the iteration as

$$
\begin{aligned}
p_{n+1} & = \frac{p_n}{\sqrt{p_n^2 + 1} + 1} && \mbox{ for } n=0,1,2,\ldots \\
p_0 & = \frac{1}{\sqrt{3}}.
\end{aligned}
$$

This follow by multiplying the previous expression by

$$\dfrac{\sqrt{p_n^2+1} + 1}{\sqrt{p_n^2+1} + 1} = 1.$$

In [3]:
def side_length_v2(n):
    """
    Compute the length of one side of a polygon with 6*2**n sides.
    The formula has been rewritten to avoid floating point errors.

    ARGUMENTS:  n  positive integer used to calculate number of
                   sides.

    RETURNS:    float
    """
    assert n >= 0

    if n == 0:
        return 1.0 / np.sqrt(3.0)

    p = side_length_v2(n - 1)
    return p / (np.sqrt(p * p + 1) + 1)


def pi_approx_v2(n):
    """
    Compute an approximation to pi using polygonal approxmations of
    a circle.

    ARGUMENTS:  n postive integer

    RETURNS:    float approximation of pi
    """
    return 6.0 * 2**n * side_length_v2(n)

In [4]:
table_headers = ["n", "pi_approx(n)", "error"]
table_data = []

for n in range(0, 51):
    my_pi = pi_approx_v2(n)
    error = abs(my_pi - np.pi)

    table_data.append([n, my_pi, error])

df = pd.DataFrame(table_data, columns=table_headers)
df.style.format({"n": "{:d}", "pi_approx(n)": "{:.16f}", "error": "{:.10e}"}).hide(
    axis="index"
)

e.  Compute $\pi$ again using the formula obtained in part d. How many correct digits can you achieve now? If you make more and more iterations after the best approximation, comment on what you observe by considering each term in your iteration formula. **\[ 2 marks \]**

We can now achieve 15 digits of accuracy. \[ 1 mark \]

There now is no best approximation and we can trust all iterations. Now as $p_n$ gets smaller each term stays well conditioned. We see that $\sqrt{p_n^2 +1} + 1 = 2$ in double precision arithmetic for $n \ge 25$ which does not result in any rounding errors and balances the doubling of the term $2^n$. \[ 1 mark for any reasonable reasoning here \]